<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Food Stream</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- body %>
    </body>
</html>
